<p id="notice"><%= notice %></p>

<h2><%= @user.name %>'s List</h2>

<ul>
  <% @list.items.each do |item|%>
    <li><%= item.text %></li>
  <% end %>
  <%= form_for @item do |i| %>
    <%= i.text_field :text %>
    <%= i.hidden_field :list_id, :value => @list.id %>
    <%= i.submit "Add" %>
  <% end %>
</ul>

