<h1>Sign Up!</h1>

<%= form_for :user, url: {action: 'create'} do |f| %>
    Name: <%= f.text_field :name %>
    Password: <%= f.password_field :password %>
    Password Confirm: <%= f.password_field :password_confirmation %>
    <%= f.submit "Submit" %>
<% end %>
